APP_NAME=DataCasketShred
APP_ENV=development
LOG_LEVEL=INFO
LOG_TO_FILE=false
DEFAULT_LOCALE=en
SEVEN_ZIP_EXE_PATH=C:\Program Files\7-Zip\7z.exe
SEVEN_ZIP_FM_PATH=C:\Program Files\7-Zip\7zFM.exe
SHRED_PASSES=1
